body {
    background-color: wheat;
    font-family: sans-serif;
    font-size: 1em;
    text-align: center;
}

.container {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    align-items: center;
    border-radius: 5px;
    margin: auto;
    width: 850px;
    height: 350px;
    background-color: rgb(167, 88, 88);
}

.c-box {
    width: 300px;
    height: 300px;
    position: relative;
    background-color: lightskyblue;
}

.c-range-box {
    width: 300px;
    height: 300px;
    position: relative;
    background-color: lightpink;
}

.c-container {
    width: 300px;
    height: 300px;
    position: relative;
    background-color: transparent;
}

.c-color {
    position: relative;
    width: 150px;
    height: 50px;
    font-size: 1.5em;
    float: right;
    background-color: white;
}

.c-hex {
    position: relative;
    width: 150px;
    height: 50px;
    font-size: 1.5em;
    float: right;
    background-color: white;
}

input[type="range"] {
    width: 150px;
    height: 25px;
}